// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.site-nav {
  text-align: left;
  }


a {
  text-decoration: underline;
  }

th {
  vertical-align: middle;
  text-align: center;
  }
td {
  vertical-align: top;
  text-align: left;
}
