// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Light mode
// ----------

$lm-brand-color:           #73000a !default;
$lm-brand-color-light:     lighten($lm-brand-color, 40%) !default;
$lm-brand-color-dark:      darken($lm-brand-color, 25%) !default;

$lm-site-title-color:      $lm-brand-color-dark !default;

$lm-text-color:            #111111 !default;
$lm-background-color:      #FFF2E3 !default; //fdfdfd
$lm-code-background-color: #FFF2E3 !default;

$lm-link-base-color:       #73000a !default;
$lm-link-visited-color:    darken($lm-link-base-color, 15%) !default;
$lm-link-hover-color:      $lm-text-color !default;

$lm-border-color-01:       #FFF2E3 !default;
$lm-border-color-02:       lighten(#FFF2E3, 35%) !default;
$lm-border-color-03:       #FFF2E3 !default;

$lm-table-text-color:      lighten($lm-text-color, 18%) !default;
$lm-table-zebra-color:     #FFF2E3 !default;
$lm-table-header-bg-color: #FFF2E3 !default;
$lm-table-header-border:   #FFF2E3 !default;
$lm-table-border-color:    #FFF2E3 !default;

