name: GetVersions.yml Get versions for Jekyll
#-docs: Test confirmed that I have duplicate H1
#https://github.com/RalphHightower/RalphHightower/pull/254 results in display of below:
#---display begins below:
#Ralph Hightower — Collection of Interests
#[Ralph Hightower — Coll ection of Interests](https://github.com/RalphHightower)
#---display end above
#-Revert "docs: Testing a hunch that I'll get duplicate H1" #255
#https://github.com/RalphHightower/RalphHightower/pull/255
#---display begins below:
#Ralph Hightower — Collection of Interests
#---display ends above
on:
   workflow_dispatch
   
jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - npm clean-install
      #- run:  ruby -v
      #- run:  github-pages -v
      #- run: docker run \
      #  -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
      #  jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --future"
      #- run:  jekyll -v
      
